/* import font */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf"); }
@font-face {
  font-family: "Roboto-ligth";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf"); }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf"); }
body {
  overflow: hidden; }

/* SCROLLPANE */
.scroll-pane {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  overflow: auto; }

.jspScrollable {
  overflow: hidden;
  padding: 0px;
  width: 20vw; }

/* profondeur dui scroll*/
.jspContainer {
  overflow: hidden;
  position: relative;
  width: 20vw;
  height: 100vw; }

.jspPane {
  position: absolute;
  padding: 0px;
  width: 18vw;
  top: 0px; }

.jspVerticalBar {
  background: #444c53;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px; }

.jspDrag {
  background-color: #5f788d; }

.jspCap {
  display: none; }

.jspTrack {
  background: #444c53;
  position: relative; }

/* ASIDE MENU */
aside {
  margin: 0 !important;
  width: 20vw;
  height: 100vh;
  overflow: hidden; }

#menu {
  margin: 0 !important;
  color: #fff; }

.maphoto {
  margin-top: 3vh !important; }
  .maphoto img {
    width: 70%;
    border-radius: 50%; }
