* {
    margin: 0 !important;
    padding: 0 !important;
}


body {
    font-family: "montserrat";
}

.menu,
h1 {
    font-family: "roboto" !important;
}

.navbar {
    justify-content: center !important;
    display: block;
}

.container {
    max-width: 1900px;
}



.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: orange;
    border: 1px solid transparent;
    padding: 1rem !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}