/* import font */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto-ligth";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf")
}

/* MENU ASIDE */
aside {
    background-color: #131313;
    height: 100vh;

    .maphoto {
        margin: 20px 10px !important;
        text-align: center;

        img {
            border-radius: 50%;
            width: 80%;
        }
    }

    .navbar-nav {
        line-height: 3em;
        text-transform: uppercase;

        .nav-link {
            font-family: "roboto-ligth";
            font-size: 0.9em;
            color: #fff;
            transform: all;
            transition-duration: 0.8s;
        }
    }
}

.nav-item:hover .nav-link {
    color: #007bff;
}

/* PAGE CENTRALE ET SECTIONS */
.content-wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}

/* section home */
.section-home {
    background: url('../media/mbr-1920x1281.jpg') no-repeat;
    background-size: cover;

    .jumbotron {
        position: absolute;
        margin-top: 10vh !important;
        margin-left: 10vw !important;
    }
}