/* import font */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto-ligth";
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

body {
    overflow: hidden;
}

/* SCROLLPANE */
.scroll-pane {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.jspScrollable {
    overflow: hidden;
    padding: 0px;
    width: 20vw;
}

/* profondeur dui scroll*/
.jspContainer {
    overflow: hidden;
    position: relative;
    width: 20vw;
    height: 200vw;
}

.jspPane {
    position: absolute;
    padding: 0px;
    width: 18vw;
    top: 0px;
}

.jspVerticalBar {
    //background: #444c53;
    background: red;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
}

.jspDrag {
    //background-color: #5f788d;
    top: 30px !important;
    background-color: blue;
    width: 20px;
    z-index: 9999;
}

.jspCap {
    display: none;
}

.jspTrack {
    background: #444c53;
    position: relative;
}

/* ASIDE MENU */
aside {
    margin: 0 !important;
    width: 20vw;
    height: 100vh;
    overflow: hidden;
    z-index: 99999999 !important;
}

#menu {
    margin: 0 !important;
    color: #fff;
}

.maphoto {
    margin-top: 3vh !important;

    img {
        width: 70%;
        border-radius: 50%;
    }
}

// main page
#mainContainer {
    position: absolute;
    top: 0px;
    left: 20vw;
    width: 160vw;
    z-index: -1 !important;
}

#containerToSlide {
    position: absolute;
    transition: all;
    transition-duration: 2s ease-out;
}

.section {
    position: absolute;
    height: 100vh;
    width: 80vw;
    top: 0px;
}

// section-home
#section-home {
    background-color: #5e7f9c;
}

// section aboutme
#section-about {
    left: 80vw;
    background-color: #75598f;
}

// section-experience
#section-experience {
    left: 160vw;
    background-color: #5e7f9c;
}

// section skills
#section-skills {
    left: 240vw;
    background-color: #75598f;
}

// section-education
#section-education {
    left: 320vw;
    background-color: #5e7f9c;
}

// section portfolio
#section-portfolio {
    left: 400vw;
    background-color: #75598f;
}