.portfolio_items {
    width: 100vw;
    float: left;
    height: auto;
    margin: 50px -10px;

}

.portfolio_items li {
    width: 33.33%;
    float: left;
    height: auto;
    padding: 0 10px 0px;
    margin: 0 0 20px;
    display: none;

}

.portfolio_items li .post_thumb {
    overflow: hidden;
    height: auto;
    float: left;
    position: relative;

}

.portfolio_items li .post_thumb>img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.portfolio_items li:hover .post_thumb>img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.portfolio_items li .post_thumb::before {
    top: 50%;
    bottom: 50%;
    left: -35%;
    right: -35%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background:pink;
    position: absolute;
    content: '';
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    z-index: 1;
}

.portfolio_items li:hover .post_thumb::before {
    top: -50%;
    bottom: -50%;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

}

.portfolio-overlay {
    bottom: 0;
    background:red;
    color: green;
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    text-align: center;
    z-index: 2;
}

.portfolio_items li:hover .portfolio-overlay {
    opacity: 1;
    background: green;
}

.overlay-inner {
    width: 100%;
    top: 50%;
    position: absolute;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.portfolio_items h3 {
    color: #fff;
    font-weight: 400;
}

.portfolio_items li a {
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.portfolio-overlay .fa {
    background: none;
    border: 1px solid blue;
    color: red;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-overlay .fa:hover {
    background: yellow none repeat scroll 0 0;
    color: #1cb9c8;
}